<% include header %>

  <h1><%-title %></h1>
  <p>Welcome to  <%-title %></p>
  <hr />
  <% articles.forEach(function(article){ %>
    <h3><%=article.title %></h3>
    <p>
      <a href="<%=article.url %>">
        <%=article.title %>
      </a>
    </p>
    <p><%=article.text %></p>
  <% }) %>
<% include footer %>
